<h1><%= @company.name %></h1>


<ul>
    <% @company.offices.each do |office| %> 
    <li><%= office.building.name %> office.</li>
    <% end %>
</ul>

<ul>
    <% @company.employees.each do |employee| %>
    <li><%= employee.name %> <%= link_to "Delete", employee_path(employee.id), method: :Delete %></li>
    <%end %>
</ul>

<% num_array = [] %>
<% @company.offices.each do |office| %>
<% num_array << office.building.rent_per_floor %>
<% end %>
<%total_num = num_array.sum  %>
<p>Totalrent: <%= total_num %></p>



